<!doctype html>
<html lang="es">
<head>

	<meta charset="UTF-8">
	<title>Gestion Informatica-{% block title %}
		 
	{% endblock title %}</title>
	{% block css %}

		<link rel="stylesheet" type="text/css" href="/media/css/bootstrap.css">
		<!--{# <link rel="stylesheet" type="text/css" href="/media/css/flat-ui.css"> #}-->
		<link rel="stylesheet" href="/media/css/prettiffy.css">
		<link rel="stylesheet" type="text/css" href="/media/css/estilo.css">
		
	{% endblock css %}
	{% block js %}
	<script src="/media/js/bootstrap.js" type="text/javascript">
	</script>
	<script src="/media/js/jquery-1.10.2.min.js" type="text/javascript" ></script>
	<script type="text/javascript" src="/media/js/bootstrap-modal.js"></script>

		
	{% endblock js %}
	
</head>
<body class="container">
	
	<div class="navbar navbar-inverse navbar-fixed-top">
		<nav class = "navbar-inner">
			<div class="brand"> Gestion Informatica</div>
			<ul class="nav">
				<li><a href="{% url "vista_principal" %}">INICIO</a> </li>
				<li><a href="{% url "vista_perfil" %}">PERFILES</a> </li>
				<li><a href="{% url "vista_hw"%}">MANTENEDORES</a> </li>
				<li><a href="{% url "nuevoMonitor"%}">agregar</a> </li>
				
				
			</ul>
			<a   href="{% url "vista_logout" %}" class="btn btn-default navbar-btn pull-right">LogOut</a>

			
			
		</nav>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<section class = "container">
		{% block content %}
			
		{% endblock content %}
		{% block modal %}
			
		{% endblock modal %}
		
	</section>
	<aside>
		{% block aside %}
			
		{% endblock aside %}
	</aside>
</body>
</html>