<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Gestion Informatica-{% block title %}
		
	{% endblock title %}</title>
	{% block css %}

		<link rel="stylesheet" type="text/css" href="/media/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/media/css/flat-ui.css">
		<link rel="stylesheet" href="/media/css/prettiffy.css">
		<link rel="stylesheet" type="text/css" href="/media/css/estilo.css">
	{% endblock css %}
</head>
<body class="container">
	<header class="">
		
	
	</header>
	<section>
		{% block content %}
			
		{% endblock content %}
		
	</section>
</body>
</html>