//  variable color
media_noche = #2C3E50
naranja = #F39C12
nube = #ECF0F1
asfalto = #34495E
concreto = #95A5A6
rojito = #E74C3C
esmeralda = #2ECC71
rio = #3498DB
girasol = #F1C40F
blanco = #FFFFFF
body
	
	background url(/media/images/brickwall.png)
    
    
.titulo_reg
	color asfalto

.login-form
	color asfalto

.span3
	background blanco


.fondo
	background blanco